*{
	font-family: Century Gothic, Gill Sans ,sans-serif;
}

#header-nav {
  background-color: #FC6C8C;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-size: 1.9em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

#nav-list {
  background-color: #F4908A;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

#nav-list a{
    border: 1px solid #48b9a8;
}

header h1{
    color: #BAF1E4;
}

h1{
  color: #48b9a8;
}

section{
  margin: 10px;
}

section div div div{
  background-color: #BAF1E4;
  border: 1px solid #F4908A;
  margin: 10px auto 10px;
}

section div div div div{
  border: 0px;
  margin: 10px auto 10px;
  text-align: justify;
}

h2{
  color: #FA3C5A;
}

div.navbar-header{
  padding-bottom: 10px;
  padding-top: 10px;
}

div.navbar-brand{
  padding-bottom: 10px;
  padding-top: 10px;
}